<app-header titulo="DateTiem"></app-header>
<ion-content>
  <ion-list-header>
    <ion-label>Datos Nacimiento</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label>Cumpleaños</ion-label>
      <ion-datetime placeholder="Nacimiento" value="{{ fechaNaci | date: 'yyyy-MM-dd'}}" display-format="YYYY MMMM DD"
        cancelText="Cancelar!!!" [(ngModel)]="fechaNaci" (ionChange)="cambioFecha($event)"></ion-datetime>

    </ion-item>

    <ion-list-header>
      <ion-label>RESTRICCIONES</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>MAX y min</ion-label>
      <ion-datetime display-format="YYYY-MM-DD" aria-placeholder="yyyy-mm-dd" min="2018-01-01" max="2018-31-01">

      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Años</ion-label>
    
      <ion-datetime display-format="YYYY" aria-placeholder="yyyy" min="2015" max="2018" value="2016">

      </ion-datetime>
    </ion-item>
    <ion-item>

      <ion-label>picker de opciones personaliazdas</ion-label>
    
      <ion-datetime [pickerOptions]="customPickerOptions"
                    [(ngModel)]="customDate">

      </ion-datetime>
    </ion-item>

  </ion-list>



</ion-content>