<app-header titulo="Grid Row">
</app-header>

<ion-content padding fullscreen>
  <ion-grid fixed>
    <!--<ion-row>
      <ion-col *ngFor="let c of [1,2,3,4,5,6,7,8,9,10,11,12], let i = index"> 
        hola item {{i+1}}
      </ion-col>

    </ion-row> -->
    <ion-row>
      <ion-col size-lg="3" size-md="4" size-sm="6" size-xs="12"
      *ngFor="let c of [1,2,3,4,5,6,7,8,9,10,11,12]" >
        <ion-card>
          <ion-img src="/assets/shapes.svg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
             Temporibus iusto esse velit ducimus accusamus eligendi dolores voluptatem, 
             quam exercitationem vero necessitatibus, consectetur id dolorem beatae ipsa
              dolore iure fugit veritatis.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
