<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>list Reorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group [disabled]="false"
      (ionItemReorder)="reorder($event)"
    >
      <ion-item *ngFor="let per of personajes">
        <ion-label>{{per}}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
  <ion-button (click)="onClick()" expand="full">
    Guardar
  </ion-button>
</ion-content>