<ion-header no-border trasnlucent>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="danger" text="Regresar"></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>