<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>botones</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClick()" color="tertiary">
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="onClick()" color="primary">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button (click)="onClick()" expand="full" size="small">
    small
  </ion-button>
  <ion-button (click)="onClick()" expand="full" size="default">
    default
  </ion-button>
  <ion-button (click)="onClick()" expand="full" size="large">
    large
  </ion-button>

  <ion-row class="top-20">
    <ion-col>
      <ion-button (click)="onClick()" expand="full" routerLink="/alert" color="tertiary">
        Ancla alerta
      </ion-button>
    </ion-col>
    <ion-col >
      <ion-button (click)="onClick()" expand="full" routerLink="/action-sheet" color="tertiary">
        Ancla action sheet
      </ion-button>
    </ion-col>
  </ion-row>
  <!-- Fill -->
  <ion-button (click)="onClick()" class="top-20" fill="clear">
    Clear
  </ion-button>
  <ion-button (click)="onClick()" class="top-20" fill="outline">
      Outline
    </ion-button>
    <ion-button (click)="onClick()" class="top-20" fill="solid">
        solid
      </ion-button>

</ion-content>