<app-header titulo="Listas slade">
</app-header>

<ion-content>
  <ion-list #listaus>
    <ion-item-sliding *ngFor="let us of usuarios | async">

      <ion-item >
        <ion-label>
          <h3>{{ us.name }} </h3>
          <p>{{ us.email }}</p>
        </ion-label>
        <ion-label slot="end" text="right"> {{ us.phone }}</ion-label>
      </ion-item>

      <ion-item-options side="start">
        <!--ion-item-option (click)="favorite(us)">Favorite</ion-item-option>
          <ion-item-option color="danger" (click)="share(us)">Share</ion-item-option-->
          <ion-item-option (click)="favorite(us)" color="light">
            <ion-icon color="primary" slot="icon-only" name="heart"> </ion-icon>
          </ion-item-option>
          <ion-item-option (click)="share(us)" color="light">
              <ion-icon color="secondary" slot="icon-only" name="share"> </ion-icon>
            </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option (click)="unread(us)" color="dark">
          <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>