<ion-header no-border>
  <ion-buttons>
    <!--llamar el menu con la ccion click-->
    <!--ion-button side="start" (click)="toggleMenu()">
    <ion-icon slot="icon-only" name="menu"></ion-icon>
  </ion-button-->
    <!--llamar al menu desde el componete ion menu booton -->
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-buttons>

  <ion-toolbar>
    <ion-title color="primary">inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let com of componentes | async" routerLink="{{com.redirectTo}}" detail>
      <ion-icon slot="start" [name]="com.icon" color="primary"></ion-icon>
      <ion-label>{{com.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>