<app-header [titulo]="titulo"></app-header>

<!--ion-header>
  <ion-toolbar>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header--->

<ion-content>


  <ion-button (click)="presentAlert()">
    Alerta simple
  </ion-button>
  <ion-button (click)="presentAlertMultipleButtons()">
    Alerta multiple botones
  </ion-button>
  <ion-button (click)="presentAlertConfirm()">
    Alerta con accion
  </ion-button>
  <ion-button (click)="presentAlertPrompt()">
    Alerta con prompt
  </ion-button>
  <ion-button (click)="presentAlertRadio()">
    Alerta con radio
  </ion-button>
  <ion-button (click)="presentAlertCheckbox()">
    Alerta check
  </ion-button>

</ion-content>
