<app-header titulo="infinite Scroll">
</app-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of data; let i = index">
      <ion-label>Item {{i + 1 }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="200px" 
      (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading ...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
