<app-header title="checkbox"></app-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let ch of data" (click)="onClick(ch)">
      <ion-label>{{ch.name}}</ion-label>
      <ion-checkbox [(ngModel)]="ch.selected" [color]="ch.name"></ion-checkbox>
    </ion-item>
    
  </ion-list>

</ion-content>
