<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>avatar</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="/assets/img/myAvatar.svg">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h4>ion-chip</h4>
  <ion-chip *ngFor="let av of avatars">
    <ion-avatar>
      <img src="/assets/img/{{av.icon}}">
    </ion-avatar>
    <ion-label>{{av.nombre}}</ion-label>
  </ion-chip>

  <h4>ion Avatar en una lista</h4>
  <ion-list>

    <ion-item *ngFor="let av of avatars">
     <ion-avatar slot="start">
       <img src="/assets/img/{{av.icon}}">
     </ion-avatar>  
     <ion-label>{{av.nombre}}</ion-label>
    </ion-item>
    
  </ion-list>

</ion-content>
