<app-header titulo="FABS" ></app-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of data; let index = index">
      <ion-label>Item {{index+1}}</ion-label>
    </ion-item>
  </ion-list>

<!-- fab placed to the top end -->
<ion-fab vertical="top" horizontal="end" slot="fixed" color="warning">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button color="primary" ><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
    <ion-fab-button color="youtube"><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
    <ion-fab-button color="youtube"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
      <ion-fab-button color="youtube" ><ion-icon name="logo-google"></ion-icon></ion-fab-button>
      <ion-fab-button color="githib"><ion-icon name="logo-github"></ion-icon></ion-fab-button>
      <ion-fab-button color="facebook"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
</ion-fab>

<ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>
