<app-header titulo="INPUT y Forms">
</app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Nombre: {{nombre || "no hay nombre"}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre" placeholder="Nombre"></ion-input>
    </ion-item>

  </ion-list>


  <form #formulario="ngForm" (ngSubmit)="onSubmit()" title="Datos Personales">
    <ion-list>
      <ion-list-header>
        <ion-label>Fomulario template: Valido {{ formulario.valid }}</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required name="email" type="email" [(ngModel)]="usuario.email" 
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">password <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required name="password" type="password" [(ngModel)]="usuario.password" 
            ></ion-input>
        </ion-item>
        <ion-button 
        color="primary"
        type="submit"
        [disabled]="formulario.invalid"
        expand="full">
          Guardar
        </ion-button>
    </ion-list>
  </form>

</ion-content>