<ion-menu side="start" contentId="principal" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let com of componentes | async">
        <ion-item [routerLink]="com.redirectTo" detail>
        <ion-icon slot="start" [name]="com.icon"></ion-icon>
        <ion-label>{{com.name}}</ion-label>
      </ion-item>
      </ion-menu-toggle>
      
    </ion-list>
  </ion-content>
</ion-menu>

<!--ion-menu side="end" contentId="principal" menuId="custom" class="my-custom-menu">
        <ion-header>
          <ion-toolbar color="tertiary">
            <ion-title>Menú Secundario</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>Menu 2.1</ion-item>
            <ion-item>Menu 2.2</ion-item>
            <ion-item>Menu 2.3</ion-item>
            <ion-item>Menu 2.4</ion-item>
            <ion-item>Menu 2.5</ion-item>
          </ion-list>
        </ion-content>
      </ion-menu-->