<ion-header no-border>
  <ion-toolbar>
    <ion-title text-capitalize>{{nombre}} - {{pais}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="primary" expand='full' (click)="salirSinArg()">
    salir sin argumentos
  </ion-button>
  <ion-button color="secondary" (click)="salirConArg()">
    salir con argumentos
  </ion-button>
</ion-content>
